/* CSS declarations go here */
body {font-family: Vollkorn; font-size: 160%; line-height: 160%; }
h1, h2, h3, h4, h5, h6 {font-family: Georgia; line-height:100%; margin-top: 0.5em; margin-bottom: 0.5em; color: #777; font-style: none; font-weight: 400;}
h1 {font-size: 1.8em;}
h2 {font-size: 1.6em;}
h3 {font-size: 1.4em;}
h4 {font-size: 1.3em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1.1em;}
p, pre, blockquote, table, ul, ol, dl {margin-top: .5em; margin-bottom: .5em;}
ul ul, ul ol, ol ol, ol ul {margin-top: 0.5em; margin-bottom: 0.5em;}
li {margin: 0.3em auto;}
ul {margin-left: .5em; padding-left: 0.5em;}
dt {font-weight: bold;}
img {border: none;}
pre {border-left: 1px solid #ccc; margin-left: 0em; padding-left: 0.5em;}
blockquote {padding: 0.3em; background-color: #E8F2F5; margin-left:0.5em; margin-right:0;}
th, td {border: 1px solid #ccc; padding: 0.3em;}
th {background-color: #f0f0f0;}
hr {border: none; border-top: 1px solid #E8F2F5; width: 100%;}
del {text-decoration: line-through; color: #777777;}
.toc li {list-style-type: none;}
.todo {font-weight: bold; background-color: #f0ece8; color: #a03020;}
.justleft {text-align: left;}
.justright {text-align: right;}
.justcenter {text-align: center;}
.center {margin-left: auto; margin-right: auto;}

footer { font-size: 0.7em; margin-top: 2em;}

body {
    background-image: url('http://fc00.deviantart.net/fs71/i/2012/309/c/8/retro_tv_wallpaper_by_shiryudragon09-d5k4cmd.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
}
/*
#content {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 37em;
    position: relative;
    width: 61.8%;
}*/
.list-group-item {
    background-color: #f0f0f0;
    -khtml-opacity:.95;
    -moz-opacity:.95;
    -ms-filter:”alpha(opacity=95)”;
    filter:alpha(opacity=95);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.95);
    opacity:.95;
}

.image-size{
    height: 50px;
    width: 50px;
    float: right;
}

.container {
    margin: 0 auto;
    padding: 0 0em;
    max-width: 37em;
    position: relative;
    /*margin-bottom: 20px;*/

}

.well-lg {

}

.show {
    background-color: white;
}
a {
    color: #777;
    text-decoration: none;
}

a:visited {
    color: #777;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.logo {
  height: 2em;
}

div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float:right;
  padding: 10px;
  font-size: 25px;
  color: #ffd500;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.fr {
  float:right;
  margin-top: 10px;
}

.linkButton {
    margin-left: -6px;
     background: none;
     border: none;
     color: #777;
     cursor: pointer;
}

.format-channel-image {
    height: 50px;
}

.page-header {
    text-align: center;
    background-color: #f0f0f0;
    padding-top: 18px;
    margin-bottom: 0px;
    border-radius: 6px;
}

.show-left {
  width: 49%;
  display: inline;
  float: left;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.show-right {
  width: 49%;
  display: inline;
  float: right;
}

.show-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.show-add {
  margin-top: 40px;
}

/*code {
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0px 3px;
    display: inline-block;
    color: #52595d;
    background-color: #E8F2F5;
    font-size: 40%;
    line-height: 1.4em;
    margin-left: -1em;
    overflow: auto;
}*/
