<div class="container">
  <div class="page-header"><h1>All Shows</h1></div><hr>
  <ul class="list-group">
    <% shows.each do |show| %>
      <li class="list-group-item">
        <a href="/shows/<%= show.id %>"><h6><%= show.title %></h6></a>
        <p>Genre: <%= show.genre.name %></p>
        <p>Rating: <%= show.rating_average %></p>
      </li>
    <% end %>
  </ul>
</div>
